.mediaViewInfo {
	--web-view-name: userp;
	--web-view-id: userp;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: userp;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#userp {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,234,234,1);
	overflow: hidden;
	--web-view-name: userp;
	--web-view-id: userp;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Path_1 {
	filter: drop-shadow(0px 3px 6px rgba(16, 1, 1, 0.902));
	overflow: visible;
	position: absolute;
	width: 386px;
	height: 1098px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.ID1573018659 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 173px;
	left: 107px;
	top: 81px;
}
#________ {
	position: absolute;
	left: 35px;
	top: 263px;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: LilyUPC;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
.button1 {
	color: white;
	padding: 35px 140px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 105px;
	left: 10px;
	top: 355px;
}
.button2 {
	color: white;
	padding: 35px 140px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 105px;
	left: 10px;
	top: 460px;
}
#_____________ {
	opacity: 0.8;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: LilyUPC;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#__________ {
	opacity: 0.8;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: LilyUPC;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#icons8_clipboard_approve_64 {
	opacity: 0.66;
}
.icons8_clipboard_approve_64 {
	position: absolute;
	overflow: visible;
	width: 39px;
	height: 39px;
	left: 72px;
	top: 394px;
}
#icons8_exit_26 {
	opacity: 0.67;
}
.icons8_exit_26 {
	position: absolute;
	overflow: visible;
	width: 39px;
	height: 39px;
	left: 72px;
	top: 493px;
}