.mediaViewInfo {
	--web-view-name: user;
	--web-view-id: user;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: user;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#user {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,234,234,1);
	overflow: hidden;
	--web-view-name: user;
	--web-view-id: user;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Path_1 {
	filter: drop-shadow(0px 3px 6px rgba(16, 1, 1, 0.902));
	overflow: visible;
	position: absolute;
	width: 386px;
	height: 1098px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.aa {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 173px;
	left: 107px;
	top: 81px;
}
#_______________ {
	position: absolute;
	left: 121px;
	top: 260px;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: LilyUPC;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
.button1 {
	color: white;
	padding: 35px 140px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 105px;
	left: 10px;
	top: 355px;
}
.button2 {
	color: white;
	padding: 35px 140px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 105px;
	left: 10px;
	top: 460px;
}
.button3 {
	color: white;
	padding: 35px 140px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 105px;
	left: 10px;
	top: 565px;
}
.button4 {
	color: white;
	padding: 35px 140px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	width: 368px;
	height: 105px;
	left: 10px;
	top: 670px;
}
#_____________ {
	opacity: 0.8;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: LilyUPC;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#_________ {
	opacity: 0.8;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: LilyUPC;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#__________________ {
	opacity: 0.8;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: LilyUPC;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#__________ {
	opacity: 0.8;
	position: absolute;
	overflow: visible;
	white-space: nowrap;
	text-align: left;
	font-family: LilyUPC;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#icons8_user_30_A0_Rectangle_11 {
	opacity: 0.66;
}
.icons8_user_30_A0_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 49px;
	height: 49px;
	left: 67px;
	top: 388px;
}
#icons8_exit_26 {
	opacity: 0.67;
}
.icons8_exit_26 {
	position: absolute;
	overflow: visible;
	width: 39px;
	height: 39px;
	left: 67px;
	top: 600px;
}
#icons8_registration_30 {
	opacity: 0.66;
}
.icons8_registration_30 {
	position: absolute;
	overflow: visible;
	width: 47px;
	height: 47px;
	left: 67px;
	top: 486px;
}
#icons8_tracking_30 {
	opacity: 0.66;
}
.icons8_tracking_30 {
	position: absolute;
	overflow: visible;
	width: 47px;
	height: 47px;
	left: 67px;
	top: 590px;
}